<!Doctype html>
{% load static %}
<html>

<head>

    
    <title>my name is meher</title>
    <style>
        body
        {
            background-repeat: no-repeat;
            background-size: 1500px;

        }
        h1
        {
            color: white;

        }
        form
        {
            color: white;

        }
        #result
        {
            color: white;
        }
        


    </style>
  

    {% block content %}

    {%endblock%}



</head>

<body style="background-image :  url('{% static 'image/gif-wallpaper-13.gif' %}');">
   

     

</body>










</html>

